.hero {


}

.wrapper {
  padding-top: 78px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.info {
  padding-top: 48px;
  flex: 1 1 41.32%;
  max-width: 595px;
}

.heroTitle {
  font-weight: 600;
  font-size: clamp(40px, 5.6vw, 80px);
  line-height: 102%;
  letter-spacing: -0.02em;
  color: var(--text-strong);
  margin-bottom: 20px;
}

.heroTitle span {
  font-style: italic;
  color: var(--primary-color);
}

.heroText {
  font-weight: 500;
  font-size: clamp(14px, 1.5vw, 18px);
  line-height: 133%;
  letter-spacing: -0.02em;
  color: var(--text-strong);
  margin-bottom: 40px;
}
.heroButton {
  border-radius: clamp(20px, 2vw, 30px);
  padding: clamp(12px, 1.5vw, 18px) clamp(24px, 4vw, 50px);
  width: clamp(180px, 30vw, 235px);
  height: clamp(45px, 8vw, 60px);
  background-color: var(--primary-color);
  transition: background-color 0.9s ease;
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: pointer;
}
.heroButton:hover {
  background: var(--secondary-color);
}

.heroLink {
  font-weight: 500;
  font-size: clamp(16px, 1.5vw, 20px);
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--bg-main-color);
  text-decoration: none;
  white-space: nowrap;
}

.arrowUpRightIcon {
  stroke-width: 2px;
  stroke: none;
  fill: #fbfbfb;
}

.baner {
  display: flex;
  justify-content: flex-end;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 39.23%;
  max-width: 565px;
}

.infoBaner {
  position: absolute;
  top: clamp(63.34%, 10vh, 66%);

  left: 0px;
  border-radius: 20px;
  width: clamp(200px, 20vw, 311px);
  height: clamp(80px, 10vw, 118px);
  background-color: var(--primary-color);
  padding: 32px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.svgBoxInfoBaner {
  border-radius: clamp(8px, 2vw, 13px);
  width: clamp(40px, 8vw, 54px);
  height: clamp(40px, 8vw, 54px);
  background-color: var(--bg-main-color);
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.checkIcon {
  stroke: none;
  fill: var(--primary-color);
}

.infoBanerText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(12px, 1.2vw, 14px);
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 8px;

  max-width: 177px;
  white-space: normal;
  overflow-wrap: break-word;
}

.infoBanerText2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(16px, 1.5vw, 24px);
  color: var(--bg-main-color);
}

.null {
  display: flex;
  flex-shrink: 0;
  flex-basis: 17.87%;
  max-width: 101px;
}

.imgHeroContainer {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  flex-shrink: 1;
  /* flex-basis: 82.13%;   */
  position: relative;
  max-width: 464px;
  min-width: 254px;
}

.imgHero {
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
  
}

.svgBoxQ {
  position: absolute;
  /* top: 185px;
  left: 62px; */
  top: clamp(120px, 20vw, 185px);  
  left: clamp(4px, 5vw, 62px); 
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background-color: var(--icon-question);
  transform: rotate(-15deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionIcon {
  fill: var(--bg-main-color);
}

.svgBoxP {
  position: absolute;
  /* top: 38px;
  right: -39px; */
  top: clamp(20px, 4vw, 38px);     
  right: clamp(-39px, -3vw, -20px);
  border-radius: 10px;
  width: 48px;
  height: 48px;
  background-color: var(--icon-people);
  transform: rotate(15deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.peopleIcon {
  fill: var(--bg-main-color);
  stroke: none;
}

@media (min-width: 1440px) {
  .infoBanerText {
    white-space: nowrap;
  }
}
