.cardItem {
    display: flex;
    gap: 24px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(84, 190, 150, 0.2);
  border-radius: 30px;
  width: 120px;
  height: 120px;
    position: relative;
}

.avatarImg {
  border-radius: 15px;
  width: 96px;
  height: 96px;

}

.circleIcon {
     fill: var(--secondary-color); 
     position: absolute;
     top: 9px;
     right: 14px;

}

.infoContainer {
    flex: 1; 
}

.infoRow {
    display: flex;
  justify-content: space-between;
    align-items: center; 
  width: 100%;
  margin-bottom: 8px;
    
}

.infoLeftBox {

font-weight: 500;
font-size: 16px;
line-height: 150%;
color: var(--text-muted);
}

.infoRightBox {
    display: flex;
    align-items: center;

}

.btnFavorite {
    background-color: var(--bg-main-color);
}

.favoriteIcon {
    stroke: var(--text-strong);
    fill: none;
}

.infoRating {
display: flex;
align-items: center;
}

.infoRating p {

font-weight: 500;
font-size: 16px;
line-height: 150%;
color: var(--text-strong);
margin-right: 16px;
}

.starIcon {
   fill: var(--icon-star);
   margin-right: 8px;
}

.vLineIcon {
stroke: rgba(25, 26, 21, 0.2);
margin-right: 16px;

}

.infoPrice {

font-weight: 500;
font-size: 16px;
line-height: 150%;
color: var(--text-strong);
margin-right: 28px;
}

.infoPrice span {
color: var(--text-price);
}

.name {

font-weight: 500;
font-size: 24px;
line-height: 100%;
color: var(--text-strong);
margin-bottom: 24px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 4px;
    margin-bottom: 24px;

}

.item {
border-radius: 24px;
padding: 8px 16px;
background-color: var(--bg-secondary-color);

font-weight: 500;
font-size: 16px;
line-height: 150%;
color: var(--text-muted);
white-space: nowrap;
}

.item span {
    color: var(--text-strong);
}

.description {
font-weight: 400;
font-size: 16px;
line-height: 125%;
color: rgba(25, 26, 21, 0.5);
margin-bottom: 14px;
}

.readMore {
font-weight: 500;
font-size: 16px;
line-height: 150%;
text-decoration: underline;
text-decoration-skip-ink: none;
color: var(--text-strong);
}