.nav {
  display: flex;
  /* gap: 40px; */
  gap: clamp(16px, 5vw, 40px);

}

.navMenu {

  font-weight: 400;
  /* font-size: 16px; */
  font-size: clamp(14px, 1.1vw, 16px);
  line-height: 125%;
  letter-spacing: -0.01em;
  color: var(--text-strong);
  text-decoration: none;
  cursor: pointer;
    position: relative;
  display: inline-flex;
  /* padding-bottom: 12px;
  padding-top: 12px; */
  padding: clamp(8px, 1.2vw, 12px) 0; 
 
 
 
}



.navMenu::before {
  content: "";
  position: absolute;

  left: 50%;             
  /* bottom: 4px;   */
  bottom: clamp(2px, 0.4vw, 4px);          
  transform: translateX(-50%); 
 
  /* width: 8px;
  height: 8px; */
    width: clamp(6px, 0.6vw, 8px);
  height: clamp(6px, 0.6vw, 8px);
  
  background-color: var(--primary-color); 
  
  -webkit-mask: url('icons/ellipse.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask: url('icons/ellipse.svg') no-repeat center;
  mask-size: contain;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navMenu:hover::before,
.navMenu:focus::before
{
  opacity: 1; 
}

.navMenu.active::before {
  opacity: 1;
}