.LoadMore {
  display: flex;
  justify-content: center;
}


.btnLoadMore {
 border-radius: 30px;
padding: 14px 48px;
width: 176px;
height: 48px;
background-color: var(--primary-color);

font-weight: 500;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.01em;
color: var(--bg-main-color);
white-space: nowrap;

}



.btnLoadMore:hover
 {
border: 1px solid var(--button-hover);
} 

@media only screen and (min-width: 768px) {
 
}

@media only screen and (min-width: 1440px) {
}
