:root {
  --font-family: 'Inter', sans-serif;
  --bg-main-color: #fbfbfb;
  --bg-secondary-color: #f3f3f3;
  --text-strong: #191a15;
  --text-normal: rgba(25, 26, 21, 0.5);
  --text-muted: #8a8a89;
  --primary-color: #54be96;
  --secondary-color: #36a379;
  --icon-people: #fbc75e;
  --icon-question: #4535af;
   --icon-star: #fbc75e;
   --text-price: #38cd3e;
   --bg-avatar-review: rgba(84, 190, 150, 0.2);

}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  box-sizing: border-box;
  font-family: var(--font-family);
  overflow-x: hidden;

}
 /* <body class="theme-blue"> */
body.theme-blue {
 --font-family: 'Inter', sans-serif;
  --bg-main-color: #fbfbfb;
  --bg-secondary-color: #f3f3f3;
  --text-strong: #191a15;
  --text-normal: rgba(25, 26, 21, 0.5);
  --text-muted: #8a8a89;
  --primary-color: #255ee8;
  --secondary-color: #3470ff;
  --icon-people: #fbc75e;
  --icon-question: #54be96;
   --icon-star: #fbc75e;
   --text-price: #38cd3e;
   --bg-avatar-review: rgba(84, 190, 150, 0.2);
}
 /* <body class="theme-orange"> */

body.theme-orange {
 --font-family: 'Inter', sans-serif;
  --bg-main-color: #fbfbfb;
  --bg-secondary-color: #f3f3f3;
  --text-strong: #191a15;
  --text-normal: rgba(25, 26, 21, 0.5);
  --text-muted: #8a8a89;
  --primary-color: #f37113;
  --secondary-color: #fc832c;
  --icon-people: #fbc75e;
  --icon-question: #54be96;
   --icon-star: #fbc75e;
   --text-price: #38cd3e;
   --bg-avatar-review: rgba(84, 190, 150, 0.2);
}

section {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  
}

/* ------  DatePicker        ------------ */

.react-datepicker-wrapper {
  width: 100%;
}

/* --- Time Dropdown --- */
.timeDropdown {
  background-color: #fff !important;
  border-radius: 12px !important;
  box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07) !important;
  font-family: var(--font-family) !important;
  overflow: hidden;
}

.timeDropdown .react-datepicker__time-container {
  border: none !important;
  width: 100% !important;
}

.timeDropdown .react-datepicker__time-list-item {
  padding: 10px 16px !important;
  cursor: pointer !important;
  font-size: 16px !important;
}

.timeDropdown .react-datepicker__time-list-item--selected {
  background-color: #3470ff !important;
  color: #fff !important;
} 