:root {
  --font-family: 'Inter', sans-serif;
  --bg-main-color: #fbfbfb;
  --bg-secondary-color: #f3f3f3;
  --text-strong: #191a15;
  --text-normal: rgba(25, 26, 21, 0.5);
  --text-muted: #8a8a89;
  --primary-color: #54be96;
  --secondary-color: #36a379;
  --icon-people: #fbc75e;
  --icon-question: #4535af;

}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  box-sizing: border-box;
  font-family: var(--font-family);
  overflow-x: hidden;
  /* background-color: var(--bg-main-color); */
}

body.theme-blue {
  --font-family: 'Inter', sans-serif;
  --bg-color: #fbfbfb;
  --text-strong: #191a15;
  --text-normal: rgba(25, 26, 21, 0.5);
  --text-muted: #8a8a89;
  --primary-color: #3470ff;
  --secondary-color: rgba(52, 112, 255, 0.2);
}

section {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  
}
